<h1 class="text-center">My Cats</h1>
<div class="h-divider"></div>
<% @cats.each do |cat, index| %>
  <div class="col-md-4 col-md-offset-1">
    <%= link_to cat, class:"cat-panel-link" do %>
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h3> <%= cat.name %> </h3>
        </div>
        <div class="panel-body">
          <% if cat.image_file_name %>
            <%= image_tag cat.image.url(:large) , class: "object-fit_contain_mycats img-circle"%>
          <% elsif %>
            <img alt="User Pic" src="https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg" class="img-responsive img-circle ">
          <% end %>        </div>
        <div class="panel-footer mycats-panel-footer">
          <%= cat.location.city_and_country %>
        </div>
      </div>
      </div>
      <div class="col-md-1">
    <% end %>
  </div>
<% end %>
